body{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.header{
    height: 135.36px;
    width: 1583px;
    

}
.header-top{
    height: 54.39px;
    width: 100%;
    background:lightgrey;
    display:flex;
    align-items:center;
    justify-content:center;
}
.inside-header-top{
    height: 22.39px;
    width: 1517px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left:60px;
    
}
.fa-phone{
    margin-left:20px;
}
.inside-fa-phone{
    height:100%;
}
.inside-header-top4{
    height: 22.39px;
    width: 1517px;
    display:flex;
    align-items:center;
    gap:10px;
    width:33%;
}
.inside-header-top5{
    height: 22.39px;
    width: 1517px;
    display:flex;
    align-items:center;
    justify-content:right;
    gap:25px;
    width:33%;
    margin-right:50px;
}
.arrow-bottom{
    font-size:10px;
    weight: 200px;;
}
.word-container{
    display:flex;
    align-items:center;
    gap:5px;
}
.inside-header-bottom{
    height:80.97px;
    width:1583px;
    /* background:red; */
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.a{
    height: 41.59px;
    width: 54.64px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left:60px;
}
.b{
    height: 42.59px;
    width: 1416.36px;
    /* background:blue; */
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.inside-header-bottom4{
    display:flex;
    align-items:center;
    justify-content:center;

}
.ul1{
    height:42.59px;
    width:350.16px;
    /* background:purple; */
    display:flex;
    align-items:center;
    margin-top:17px;
    gap:10px;
}
.ul2{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    height:25.59px;
    width:157.36px;
    /* background:yellow; */
}
.icons{
    
    font-size:27.5px;
    
}
.li1{
   height: 42.6px;
   width: 73.08px;
}
.li2{
   height: 42.6px;
   width: 67.05px;
}
.li3{
   height: 42.6px;
   width: 68.68px;
}
.li4{
   height: 42.6px;
   width: 74.19px;
   
}
.li5{
   height: 42.6px;
   width: 66.68px;
}
li{
    display:flex;
    align-items:center;
    gap:5px;
}
.mid{
    height:500px;
    width:1140px;
    background:red;
    display:flex;

}
.mid-right{
    height:100%;
    width:50%;
    background:purple;
}
.mid-left{
    height:100%;
    width:50%;
    background:yellow;
    display:flex;
    align-items:center;
    justify-content:center;
}
.inside-mid-left{
    height:50%;
    width:100%;
    /* background:red; */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
p{
    height: 25.6px;
    width:  100%; 
    font-size:20px;
    margin:0;
}
h2{
    height: 144px;
    width:  100%; 
    font-size:40px;
    margin-bottom:0;
    margin-top:75px;
}
a{
    height: 38.88px;
    width:100%; 
    font-size:25px;
    margin-top:20px;
}
.lower-mid{
    /* height: 2374.93px; */
    height: 875px;
    width: 1240px;
    /* background: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inside-lower-mid{
    height: 2182.93px;
    width: 1140px;
    /* background: red; */
}
.row1{
    height: 202px;
    width: 100%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: left;
}
.inside-row1{
    height: 154px;
    width: 760px;
    /* background:green; */
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.p2{
    margin-bottom:20px;
    margin-left: -15px;
}
.row2{
    height: 675.66px;
    width: 100%;
    /* background: darkgreen; */
    display:flex;
    align-items:center;
}
.row2-a{
    height: 659.05px;
    width: 698.24px;
    /* background: red;  */
    
    
}
.row2-b{
    height: 580.66px;
    width: 239.99px;

    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    /* padding: 16px 15px 0 15px; */
   

} 

.img-fluid{
    height:350px;
    width:350px;
}
h3{
    font-size:40px;
    margin-top:0;
    margin-bottom:7.5px;
    
}
.row-b2{
    height: 197.68px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}
a{
    margin-left: 80px;
    font-size: 32.5px;
    margin-top: 0;
}
p{
    margin-left: 35px;
    font-size: 18.5px;
   
}
.price{
    margin-left: 0;
    margin-top: 16.5px;
}
.shop-now{
    font-size: 13.5px;
    font-weight: 400;
    margin-left: 42.5px;
}
.shop-container{
    display:flex;
    gap:13.5px;
    margin-bottom: 22.5px;
}
.shop-now2{
    margin-left: 0;
    font-size: 13.5px;
}
.inside-row2a{
    height: 421.28px;
    width: 136.71px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: -50px;
    margin-top: -62.5px;
}
h2{
    margin-top: 105px;
    
}
.p3{
    margin-left: 0;
}
.shop-container2{
    display: flex;
    gap: 10px;
    
}
.p4{
    width: 30px;
    margin-left: 0;
    font-size: 13.5px;
}
.halfrow2a{
    height: 659.05px;
    width: 698.24px;
    /* background: green; */
    margin-left: 220px;
    
    
}

.image2{
    height: 540px;
    width: 540px;
    /* background: purple; */
    position: absolute;
    right: 220px;
    top:980px;
    
} 

.image-fluid2{
    
}
.low{
    height: 441.26px;
    width: 720px;
    /* background: red; */
    margin-right: 340px;
    display: flex;
}
.inside-low{
    height: 387.26px;
    width: 419.99px;
    /* background: purple; */
    position: absolute;
    left: 232.5px;
}
.inside-low2{
    height: 387.26px;
    width: 239.99px;
    /* background: yellow; */
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 855px;
    top: 1752.5px;
}
.img-fluid3{
    height: 209.99px;
    width: 209.99px;
    
}
.bottom-img{
    height: 161.28px;
    width: 209.99px;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 170px;
    margin-left:50px;
    
}
.a1{
    height: 106.4px;
    width: 161.99px;
    /* background: green; */
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom:33px;
    margin-left: 40px;
}
.p5{
    height: 38.88px;
    width: 161.99px;
    margin-left: 2.5px;
    
}
.h6{
    font-size: 30px;
    
}
.p6{
    margin-left: 0;
    margin-top:5px;
}
.inside-lowdiv{
    height: 379.68px;
    width: 104.93px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.container2{
    height: 116.78px;
    width: 105.33px;
    /* background: blue; */
    margin-left: 0;
    margin-top: 130px;
}
.h8{
    height: 83.19px;
    width: 105.33px;
    font-size: 32.5px;
    margin-top: 0;
    
}
.p8{
    height: 25.59px;
    width: 105.33px;
    margin-left: 0;
}
.p9{
    height: 39.25px;
    width: 105.33px;
    margin-left: 0;
    margin-bottom: 90px;
    font-size: 13.5px;
}
.inside-lowdiv2{
    height: 387.25px;
    width: 315.06px;
    /* background: blue; */
    margin-top: -380px;
    margin-left: 105px;
    position: absolute;
    
}
.img-fluid4{
    height: 539.98px;
    width: 539.98px;
}
.p1{
    margin-left: 0;
}
.a2{
    margin-left: 0;
}
.p10{
    margin-left: -15px;
}
.h10{
    margin-left: -15px;
}
.low2-2{
    height: 634px;
    width: 1140px;
    /* background: red; */
    margin-top: 250px;
    display: flex;
}
.insidelow2-2{
    height: 586px;
    width: 285px;
    /* background: yellow; */
    padding: 16px 15px 0 15px;
}
.img-fluid5{
    height: 255px;
    width: 255px;
}
.bottom-img2{
    height: 198.02px;
    width: 255px;
    /* background: purple; */
    padding: 0 24px 0 24px;
    position: absolute;
    left: 236.5px;
    top: 2480px;
    

}
.swiss-container{
    height: 142.77px;
    width: 207px;
    /* background: yellow; */
    
   
}
.h11{
    height: 109.17px;
    width: 207px;
    font-size: 35px;
    position: absolute;
    left: 0;
    
}
.p11{
    height: 25.59px;
    width: 207px;
    position: absolute;
    right: 90px;
    bottom: 40px;
}
.p12{
    height: 38.88px;
    width: 207px;
    position: absolute;
    top: 180px;
    left: -35px;
    font-size: 13.5px;
}
.insidelow2-3{
    height: 634px;
    width: 760px;
    /* background: blue; */
    margin-left: -110px;
}
.img-fluid6{
    height: 634px;
    width: 634px;
    position: absolute;
    right: 175px;;
    bottom: -2195px;
}
.a8{
    height: 158.4px;
    width: 162.8px;
    /* background: purple; */
}
.h13{
    height: 158.4px;
    width: 162.46px;
    /* background: purple; */
    margin-left: 197.5px;
    
}
.p13{
    height: 25.6px;
    width: 162.46px;
    margin-top: 40px;
    margin-left: 197.5px;
}
.p14{
    margin-left: 40px;
    font-size: 13.5px;
    margin-left: 197.5px;
    margin-top: 17.5px;
}
.lowest{
    height: 550.8px;
    width: 1245.6px;
    /* background: red; */
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside-lowest{
    height: 454.88px;
    width: 1140px;
    /* background: purple; */
}
.inside-insidelowest{
    height: 554.88px;
    width: 540px;
    
}
.p15{
    height: 25.6px;
    width: 540px;
    margin-left: 0;
    
}
.h14{
    height: 104px;
    width: 540px;
    margin-top: 12.5px;
    font-size: 46.25px;
}
.p16{
    height: 25.6px;
    width: 540px;
    margin-left: 0;
    margin-top: 15px;
}
.p17{
    height: 44px;
    width: 72.76px;
    margin-left: 0;
    background: #dc3545;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.span1{
    color: white;
}
.time-container{
    height: 112.8px;
    width: 450px;
    /* background: blue; */
    margin-top: 23.5px;
    border-radius: 1.25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p18{
    height: 38.88px;
    width: 450px;
    margin-left: 0;
    
}
.a9{
    font-size: 13.5px;
    margin-left: 0;
    padding: 8.4px 12px 8.4px 12px;
    position: absolute;
    top: 3374px;
    left: 52.5px;
    
}
.divoftime-container{
    height: 64.8px;
    width: 384px;
    /* background: yellow;  */
    display: flex;
    
}
.time{
    height: 64.8px;
    width: 96px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   */
}
.time2{
    height: 64.8px;
    width: 96px;
    margin-left: 40px;
}
.h15{
   height: 32.2px;
   width: 66px;
   font-size: 1.5rem;
   margin-left: 37.5px;
   margin-top: -4px;
}
.span2{
   height: 22.4px;
   width: 59.81px;
   font-size: 1rem;
   margin-top: -100px;
   margin-left: 30px;
   position: absolute;
   top: 3425px; 
} 

.span3{
    position: absolute;
    top: 3325px;
    margin-left: 30px;
}

.span4{
    position: absolute;
    top: 3325px;
    margin-left: 25px;
}
.image-div{
    height: 454.88px;
    width: 480px;
    
    position: absolute;
    right: 0;
    top: 3005px;
    displaY: flex;
    align-items: center;
    justify-content: center;
}
.img-fluid7{
    height: 450px;
    width: 300px;
}
.a10{
   font-size: 13.5px;
   border: 1px solid black;
   margin-left: 60px;
   padding: 8px 12px 8px 12px;
}

