body{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.header{
    height: 135.36px;
    width: 1583px;
}
.header-top{
    height: 54.39px;
    width: 100%;
    background:lightgrey;
    display:flex;
    align-items:center;
    justify-content:center;
}
.inside-header-top{
    height: 22.39px;
    width: 1517px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left:60px;
    
}
.fa-phone{
    margin-left:20px;
}
.inside-fa-phone{
    height:100%;
}
.inside-header-top4{
    height: 22.39px;
    width: 1517px;
    display:flex;
    align-items:center;
    gap:10px;
    width:33%;
}
.inside-header-top5{
    height: 22.39px;
    width: 1517px;
    display:flex;
    align-items:center;
    justify-content:right;
    gap:25px;
    width:33%;
    margin-right:50px;
}
.arrow-bottom{
    font-size:10px;
    weight: 200px;;
}
.word-container{
    display:flex;
    align-items:center;
    gap:5px;
}
.inside-header-bottom{
    height:80.97px;
    width:1583px;
    /* background:red; */
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.a{
    height: 41.59px;
    width: 54.64px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left:60px;
}
.b{
    height: 42.59px;
    width: 1416.36px;
    /* background:blue; */
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.inside-header-bottom4{
    display:flex;
    align-items:center;
    justify-content:center;

}
.ul1{
    height:42.59px;
    width:350.16px;
    /* background:purple; */
    display:flex;
    align-items:center;
    margin-top:17px;
    gap:10px;
}
.ul2{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    height:25.59px;
    width:157.36px;
    /* background:yellow; */
}
.icons{
    
    font-size:27.5px;
    
}
.li1{
   height: 42.6px;
   width: 73.08px;
}
.li2{
   height: 42.6px;
   width: 67.05px;
}
.li3{
   height: 42.6px;
   width: 68.68px;
}
.li4{
   height: 42.6px;
   width: 74.19px;
   
}
.li5{
   height: 42.6px;
   width: 66.68px;
}
li{
    display:flex;
    align-items:center;
    gap:5px;
}
.mid{
    height:500px;
    width:1140px;
    background:red;
    display:flex;

}
.mid-right{
    height:100%;
    width:50%;
    background:purple;
}
.mid-left{
    height:100%;
    width:50%;
    background:yellow;
    display:flex;
    align-items:center;
    justify-content:center;
}
.inside-mid-left{
    height:50%;
    width:100%;
    /* background:red; */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
p{
    height: 25.6px;
    width:  100%; 
    font-size:20px;
    margin:0;
}
h2{
    height: 144px;
    width:  100%; 
    font-size:40px;
    margin-bottom:0;
    margin-top:75px;
}
a{
    height: 38.88px;
    width:100%; 
    font-size:25px;
    margin-top:20px;
}
.lower-mid{
    /* height: 2374.93px; */
    height: 875px;
    width: 1240px;
    /* background: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inside-lower-mid{
    height: 2182.93px;
    width: 1140px;
    /* background: red; */
}
.row1{
    height: 202px;
    width: 100%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: left;
}
.inside-row1{
    height: 154px;
    width: 760px;
    /* background:green; */
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.p2{
    margin-bottom:20px;
    margin-left: -15px;
}
.row2{
    height: 675.66px;
    width: 100%;
    /* background: darkgreen; */
    display:flex;
    align-items:center;
}
.row2-a{
    height: 659.05px;
    width: 698.24px;
    /* background: red;  */
    
    
}
.row2-b{
    height: 580.66px;
    width: 239.99px;

    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    /* padding: 16px 15px 0 15px; */
   

} 

.img-fluid{
    height:350px;
    width:350px;
}
h3{
    font-size:40px;
    margin-top:0;
    margin-bottom:7.5px;
    
}
.row-b2{
    height: 197.68px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}
a{
    margin-left: 80px;
    font-size: 32.5px;
    margin-top: 0;
}
p{
    margin-left: 35px;
    font-size: 18.5px;
   
}
.price{
    margin-left: 0;
    margin-top: 16.5px;
}
.shop-now{
    font-size: 13.5px;
    font-weight: 400;
    margin-left: 42.5px;
}
.shop-container{
    display:flex;
    gap:13.5px;
    margin-bottom: 22.5px;
}
.shop-now2{
    margin-left: 0;
    font-size: 13.5px;
}
.inside-row2a{
    height: 421.28px;
    width: 136.71px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: -50px;
    margin-top: -62.5px;
}
h2{
    margin-top: 105px;
    
}
.p3{
    margin-left: 0;
}
.shop-container2{
    display: flex;
    gap: 10px;
    
}
.p4{
    width: 30px;
    margin-left: 0;
    font-size: 13.5px;
}
.halfrow2a{
    height: 659.05px;
    width: 698.24px;
    /* background: green; */
    margin-left: 220px;
    
    
}

.image2{
    height: 540px;
    width: 540px;
    /* background: purple; */
    position: absolute;
    right: 220px;
    top:980px;
    
} 

.image-fluid2{
    
}
.low{
    height: 441.26px;
    width: 720px;
    /* background: red; */
    margin-right: 340px;
    display: flex;
}
.inside-low{
    height: 387.26px;
    width: 419.99px;
    /* background: purple; */
    position: absolute;
    left: 232.5px;
}
.inside-low2{
    height: 387.26px;
    width: 239.99px;
    /* background: yellow; */
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 855px;
    top: 1752.5px;
}
.img-fluid3{
    height: 209.99px;
    width: 209.99px;
    
}
.bottom-img{
    height: 161.28px;
    width: 209.99px;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 170px;
    margin-left:50px;
    
}
.a1{
    height: 106.4px;
    width: 161.99px;
    /* background: green; */
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom:33px;
    margin-left: 40px;
}
.p5{
    height: 38.88px;
    width: 161.99px;
    margin-left: 2.5px;
    
}
.h6{
    font-size: 30px;
    
}
.p6{
    margin-left: 0;
    margin-top:5px;
}
.inside-lowdiv{
    height: 379.68px;
    width: 104.93px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.container2{
    height: 116.78px;
    width: 105.33px;
    /* background: blue; */
    margin-left: 0;
    margin-top: 130px;
}
.h8{
    height: 83.19px;
    width: 105.33px;
    font-size: 32.5px;
    margin-top: 0;
    
}
.p8{
    height: 25.59px;
    width: 105.33px;
    margin-left: 0;
}
.p9{
    height: 39.25px;
    width: 105.33px;
    margin-left: 0;
    margin-bottom: 90px;
    font-size: 13.5px;
}
.inside-lowdiv2{
    height: 387.25px;
    width: 315.06px;
    /* background: blue; */
    margin-top: -380px;
    margin-left: 105px;
    position: absolute;
    
}
.img-fluid4{
    height: 539.98px;
    width: 539.98px;
}
.p1{
    margin-left: 0;
}
.a2{
    margin-left: 0;
}
.p10{
    margin-left: -15px;
}
.h10{
    margin-left: -15px;
}
.low2-2{
    height: 634px;
    width: 1140px;
    /* background: red; */
    margin-top: 250px;
    display: flex;
}
.insidelow2-2{
    height: 586px;
    width: 285px;
    /* background: yellow; */
    padding: 16px 15px 0 15px;
}
.img-fluid5{
    height: 255px;
    width: 255px;
}
.bottom-img2{
    height: 198.02px;
    width: 255px;
    /* background: purple; */
    padding: 0 24px 0 24px;
    position: absolute;
    left: 236.5px;
    top: 2480px;
    

}
.swiss-container{
    height: 142.77px;
    width: 207px;
    /* background: yellow; */
    
   
}
.h11{
    height: 109.17px;
    width: 207px;
    font-size: 35px;
    position: absolute;
    left: 0;
    
}
.p11{
    height: 25.59px;
    width: 207px;
    position: absolute;
    right: 90px;
    bottom: 40px;
}
.p12{
    height: 38.88px;
    width: 207px;
    position: absolute;
    top: 180px;
    left: -35px;
    font-size: 13.5px;
}
.insidelow2-3{
    height: 634px;
    width: 760px;
    /* background: blue; */
    margin-left: -110px;
}
.img-fluid6{
    height: 634px;
    width: 634px;
    position: absolute;
    right: 175px;;
    bottom: -2195px;
}
.a8{
    height: 158.4px;
    width: 162.8px;
    /* background: purple; */
}
.h13{
    height: 158.4px;
    width: 162.46px;
    /* background: purple; */
    margin-left: 197.5px;
    
}
.p13{
    height: 25.6px;
    width: 162.46px;
    margin-top: 40px;
    margin-left: 197.5px;
}
.p14{
    margin-left: 40px;
    font-size: 13.5px;
    margin-left: 197.5px;
    margin-top: 17.5px;
}
.lowest{
    height: 550.8px;
    width: 1245.6px;
    /* background: red; */
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside-lowest{
    height: 454.88px;
    width: 1140px;
    /* background: purple; */
}
.inside-insidelowest{
    height: 554.88px;
    width: 540px;
    
}
.p15{
    height: 25.6px;
    width: 540px;
    margin-left: 0;
    
}
.h14{
    height: 104px;
    width: 540px;
    margin-top: 12.5px;
    font-size: 46.25px;
}
.p16{
    height: 25.6px;
    width: 540px;
    margin-left: 0;
    margin-top: 15px;
}
.p17{
    height: 44px;
    width: 72.76px;
    margin-left: 0;
    background: #dc3545;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.span1{
    color: white;
}
.time-container{
    height: 112.8px;
    width: 450px;
    /* background: blue; */
    margin-top: 23.5px;
    border-radius: 1.25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -40px; */
}
.p18{
    height: 38.88px;
    width: 450px;
    margin-left: 0;
    
}
.a9{
    font-size: 13.5px;
    margin-left: 0;
    padding: 8.4px 12px 8.4px 12px;
    position: absolute;
    top: 3374px;
    left: 52.5px;
    
}
.divoftime-container{
    height: 64.8px;
    width: 384px;
    /* background: yellow;  */
    display: flex;
    
}
.time{
    height: 64.8px;
    width: 96px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   */
}
.time2{
    height: 64.8px;
    width: 96px;
    margin-left: 40px;
}
.h15{
   height: 32.2px;
   width: 66px;
   font-size: 1.5rem;
   margin-left: 37.5px;
   margin-top: -4px;
}
.span2{
   height: 22.4px;
   width: 59.81px;
   font-size: 1rem;
   margin-top: -100px;
   margin-left: 34px;
   position: absolute;
   top: 3425px; 
} 

.span3{
    position: absolute;
    top: 3325px;
    margin-left: 30px;
}

.span4{
    position: absolute;
    top: 3325px;
    margin-left: 25px;
}
.image-div{
    height: 454.88px;
    width: 480px;
    
    position: absolute;
    right: 240px;
    top: 3005px;
    displaY: flex;
    align-items: center;
    justify-content: center;
}
.img-fluid7{
    height: 450px;
    width: 300px;
}
.a10{
   font-size: 13.5px;
   border: 1px solid black;
   margin-left: 0;
   padding: 8px 12px 8px 12px;
}
.lowest2{
    height: 2042.6px;
    width: 1026.4px;
    /* background: blue; */
    margin-left: -247.5px; 
    display: flex;
    align-items: center;
    justify-content: right;
}
.lowest2-container{
    height: 1850.6px;
    width: 960px;
    /* background: red; */
    margin-left: -67.5px;
    
}
.h16{
    height: 41.6px;
    width: 930px;
    font-size: 2rem;
    margin-top: 0;
}
.p19{
    height: 96px;
    width: 930px;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 8.5px;
    line-height: 30px;
    margin-left: 0;
}
.divoflowest2-container{
    height: 38.88px;
    width: 960px;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}
.insidedivoflowest2-container{
    height: 25.6px;
    width: 781.04px;
    /* background: green; */
}
.insidedivoflowest2-container2{
    height: 38.88px;
    width: 178.96px;
    /* background: darkkhaki; */
}
.ul3{
    height: 25.6px;
    width: 751.04px
    
}
.li6{
    height: 25.6px;
    width: 87.99px;
    /* background: red; */
    margin-top: -16px;
    font-size: 1rem;
    margin-left: -40px;
}
.li7{
    height: 25.6px;
    width: 47.61px;
    /* background: red; */
    margin-left: 57.5px;
    margin-top: -25.5px;
}
.li8{
    height: 25.6px;
    width: 45.03px;
    /* background: red; */
    margin-left: 115px;
    margin-top: -25.5px;
}
.li9{
    height: 25.6px;
    width: 55.59px;
    /* background: red; */
    margin-left: 168.5px;
    margin-top: -25.5px;
}
.li10{
    height: 25.6px;
    width: 55.59px;
    /* background: red; */
    margin-left: 232.5px;
    margin-top: -25.5px;
}
.a11{
    height: 38.88px;
    width: 148.96px;
    font-size: .8rem;
    padding: 8.4px 0 0 8.4px;
    position: absolute;
    top: 3795px;
    right: 372.5px;
    color: #bcac76;
}
.a11:root{
    --swiper-theme-color: #bcac76;
}
.insidedivoflowest2-container2{
    height: 1594.13px;
    width: 960px;
    /* background: purple; */
    margin-top: 20px;
}
.divofimage{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.divofimage2{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    margin-top: -531px;
    margin-left: 320.5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

}
.divofimage3{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    margin-top: -531px;
    margin-left: 642.5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    
}
.divofimage4{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    margin-top: -531.5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-left: 965px;
}
.divofimage5{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    margin-bottom: -305px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-top: -200px;
    position: absolute;
    top: 4607.5px;
    
}

.divofimage6{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    margin-top: 25px;
    margin-left: 320.5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.divofimage7{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-left: 642.5px;
    margin-top: -531.5px;
}
.divofimage8{
    height: 531.38px;
    width: 319.99px;
    /* background: red; */
    padding: 0 15px 0 15px;
    margin-left: 965px;
    margin-top:-530.25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.img-fluid8{
    height: 434.98px;
    width: 289.99px;
    margin-left: -15px;
}
.divofdivofimage{
    height: 50.4px;
    width: 289.99px;
    /* background: purple; */
    margin-left: -15px;
}
.h17{
    height: 20.8px;
    width: 100%;
    font-size: 1rem;
}
.span5{
    height: 20px;
    width: 43.23px;
}
.underinsidedivoflowest2-container2{
    height: 430.08px;
    width: 1260px;
    /* background: red; */
    margin-top: -475px;
    
}
.insideunderinsidedivoflowest2-container2{
    height: 238.08px;
    width: 1026px;
    /* background: purple; */
    margin-left: 234.5px;
    margin-top: 125px;
    
    
}
h4{
    height: 93.6px;
    width: 100%;
    font-size: 4.5rem;
    margin-top: 0;
    margin-left: 110px;
}
h5{
    height: 42.6px;
    width: 100%;
    font-size: 2rem;
    margin-top: -90px;
    margin-left: 25px;
}
.a12{
    height: 38.88px;
    width: 193.26px;
    font-size: .8rem;
    margin-left: 236.5px;
    position: absolute;
    top: 5287.5px;
}
.position-absolute{
    height: 430.08px;
    width: 248.55px;
    object-fit: cover;
    margin-left: 625px;
    margin-top: -400px;
    
   
    
}
.icon-place{
   height: 115px;
   width: 960px;
   /* background: red; */
   width: 1260px;
   display: flex;
}
.icon1{
    height: 115px;
    width: 240px;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon2{
    height: 115px;
    width: 240px;
    /* background: purple; */
    margin-left: 70px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.icon3{
    height: 115px;
    /* width: 240px;
    background: purple; */
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}
.icon4{
    height: 115px;
    width: 240px;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 43.5px;
    
}
.fa-truck-fast{
    height: 32px;
    width: 32px;
    margin-top: 10px;
    margin-left: -53.5px;
}
.free-shipping{
    height: 44.6px;
    width: 152.91px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h18{
    height: 18.2px;
    width: 100%;
    font-size: .875rem;
    margin-top: 0;
}
.p20{
    height: 22.4px;
    width: 100%;
    font-size: .875rem;
    margin-top: -21.5px;
    margin-left: 0;
    line-height: 20px;
}
.p21{
    height: 22.4px;
    width: 100%;
    font-size: .875rem;
    margin-top: -30.5px;
    margin-left: 0;
    line-height: 20px;
}
.fa-dollar-sign{
    border-radius: 50%;
    border: 1px solid black;
    padding: 2.5px 2.5px 2.5px 2.5px;
}

.dollar2{
    margin-bottom: 50px; 
}
.fa-percent{
    margin-bottom: 16.5px;
}
.footer{
    height: 204.8px;
    width: 960px;
    background: red;
    
}
.inside-footer{
    height: 204.8px;
    width: 400px;
    background: purple;
}
.inside-footer2{
    height: 204.8px;
    width: 559.99px;
    background: blue;
    position: absolute;
    left: 589px;
    top: 5639px;
}
.h19{
    height: 20.8px;
    width: 337px;
    font-size: 1rem;
    margin-top: 0;
}
.p22{
    margin-left: 0;
    font-size: .875rem;
    line-height: 19px;
}
form{
    font-size: 1rem;
    margin-top: 34px;
    height: 39.6px;
    width: 337px;
}
.input{
    height: 39.6px;
    width: 281px;
    font-size: 1rem;
}
.post{
    height: 39.6px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 232.5px;
    margin-top: -40px;
    background: none;
    border: none;
    
}
.inside-post{
    height: 32px;
    width: 32px;
}
.fa-envelope{
    font-size: 30px;
    
}
.bottom-footer{
    height: 70.4px;
    width: 1183.2px;
    background: red;
    margin-left: -190px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.inside-bottom-footer{
    height: 22.4px;
    width: 960px;
    background: yellow;
    margin-left: 155px;
    display: flex;
}
.insideinside-bottom-footer1{
    height: 22.4px;
    width: 319.99px;
    background: blue;
}
.insideinside-bottom-footer2{
    height: 22.4px;
    width: 640px;
    background: purple;

}
.p23{
    height: 22.4px;
    width: 289.99px;
    font-size: .875rem;
    margin-top: 2.5px;
    margin-left: 15px;
}
.ul{
    height: 22.4px;
    width: 610px;
    display: flex;
}
.li11{
    height: 22.4px;
    width: 120.76px;
    margin-top: -17px;
}
.li12{
    height: 22.4px;
    width: 110.18px;
    margin-top: -22.5px;
    margin-left: 140px;
}
.li13{
    height: 22.4px;
    width: 76.63px;
    margin-top: -22.5px;
    margin-left: 280px;
}
.li14{
    height: 22.4px;
    width: 149.99px;
    margin-top: -22.5px;
    margin-left: 380px;
}